/* *{

    margin: 0%;
    padding: 0%;
    
    } */
    #banner{
     
        background: linear-gradient( rgb(37 28 28 / 41%),rgb(47 95 24 / 89%)), url('../../../img/banner.jpg');
        /* background-image: url(../../../img/banner.jpg); */
        background-size: cover;
        background-position: center;
        height: 134vh;
    
    }
    img.logo {
        margin-top: 25px;
        margin-left: 123px;
        width: 140px;
        position: absolute;
    }
    .bannerText{
    
        text-align: center;
        color: rgb(248, 239, 239);
        padding-top:160px ;
    }
    .bannerText h1{
        font-size: 130px;
        font-family: 'Kaushan Script', cursive;    
    
    }
    .bannerText h1:hover {
        color: chartreuse;
        transition: 0.1s;
        cursor: pointer;
    }
    .bannerText p{
        font-size: 24px;
        font-style: italic;
    }
    .bannerBtn{
    
        margin: 60px auto 0;
        
    
    }
    .spanStyle{
        width: 140px;
    }
   
    
    .bannerBtn a{
    
        /* width: 100px; */
        
        text-decoration: none;
        
        display: inline-block;
        
        margin: -89px 11px;
        
        padding: 11px;
        
        color: rgb(226, 202, 202);
        position: relative;
        
        border: 1.5px solid rgb(207, 197, 197);
        z-index: 1;
        transition: color 0.5s;
    }
    
    .bannerBtn a span {
    
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0;
        background: #fff;
        z-index: -1;
        transition: 0.5s ;
    }
    .bannerBtn a:hover span  {
    
        width: 100%;
    }
    .bannerBtn a:hover {
    
        color: black ;
    } 